<%- include("../partials/head.ejs") -%>
            <form action="/enter-game" class="" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <button id="enter-game" type="submit" >Enter Game</button>
            </form>
        </div>
    </body>
</html>