<%- include("../partials/head.ejs") -%>
<div id="enter-game-container">
    <form action="/enter-game" class="" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="player-name" minlength="6" required>
        <button id="enter-game" type="submit">Enter Game</button>
    </form>
</div>
</body>
</html>
