body {
    background-image: url('monstermayhemgame.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;

}
/* Define the custom font */
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/myfont.ttf') format('truetype');
}

/* Apply the custom font to the game title */
#game-title {
    font-family: 'MyCustomFont', sans-serif;
    color: red;
    font-size: 40px;
    margin-bottom: 20px;
}

#player-names input[type="text"] {
    margin: 5px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#player-names input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
}

.hidden {
    display: none;
}

#main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#board {
    margin-right: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#player-actions {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#start-game {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-game:hover {
    background-color: #45a049;
}

#status {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

.light-green {
    background-color: lightgreen;
}

.light-red {
    background-color: lightcoral;
}

.light-gray {
    background-color: lightgray;
}
.light-blue{
    background-color: lightblue;
}

.selected{
    box-shadow: inset 0px 0px 3px 3px #a9ff00;
}
.watermark {
    position: absolute;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    top: 2px;
    left: 2px;
}

#player-status {
    margin-left: 20px;
}

#status-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#status-table th, #status-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
}

#status-table th {
    background-color: #f2f2f2;
}

#combat-rules {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

/* Player's monsters background colors */
.player-1 {
    background-color:#087e08 ;
    /*background-color: rgba(255, 0, 0, 0.5);*/ /* Red */
    padding: 5px; 
    color: white;
}

.player-2 {
    /*background-color: rgba(0, 255, 0, 0.5); *//* Green */
    background-color: #101010;
    padding: 5px; 
    color: white;
}

.player-3 {
    background-color:  rgb(180, 35, 35);
    /*background-color: rgba(0, 0, 255, 0.5); *//* Blue */
    padding: 5px; 
    color: white;
}

.player-4 {
    background-color: rgb(18 101 192);
    /*background-color: rgba(255, 255, 0, 0.5);*/ /* Yellow */
    padding: 5px; 
    color: white;
}


/* Table styles */
#player-colors table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#player-colors th, #player-colors td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

#player-colors th {
    background-color: #f2f2f2;
}


.has-moved {
    background-color: gray;
    cursor: not-allowed;
}

.monster {
    cursor: pointer;
}